//colors
$ui-header-background: #27262A;
$ui-section-background: #F4F4F4;
$ui-nav-background: #333333;
$ui-nav-background-border: #3B3B3B;
$ui-primary-color: #8D81AC;
$ui-secondary-color: #848E97;
$ui-title-and-border-color: #635C73;
$ui-paragraph-text-color: #323232;
$ui-description-text-color: #A291A5;
$ui-cards-background: #463048;
$ui-decoration-line: #645766;
$ui-white-color: #FFFFFF;

//--------------- breakpoint ----------
$ui-breakpoint-xxl: "1200px";
$ui-breakpoint-xxl-min: "1201px";

$ui-breakpoint-xl: "992px";
$ui-breakpoint-xl-min: "993px";

$ui-breakpoint-md: "768px";
$ui-breakpoint-md-min: "769px";

$ui-breakpoint-sm: "480px";
$ui-breakpoint-sm-min: "481px";

$ui-breakpoint-xs: "320px";
$ui-breakpoint-xs-min: "321px";

//-------------------------------------
//--------------- Z-Index ----------

$ui-index-1: 1; // Для наповзаючих єлементів в блоці
$ui-index-2: 2;
$ui-index-3: 3;
$ui-index-4: 4;
$ui-index-5: 5;
$ui-index-6: 6;
$ui-index-7: 7;

//--------------- Other ----------

$ui-transition-default: 0.2s;