.page-header {
  max-height: 103px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $ui-index-1;
  background-color: $ui-header-background;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    max-height: 118px;
  }
  @media screen and (min-width: $ui-breakpoint-xxl-min) {
    max-height: 100px;
  }

  .page-header__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 103px;
    align-items: center;
    justify-self: center;
    @media screen and (min-width: $ui-breakpoint-md-min) {
      grid-template-rows: 118px;
      align-items: center;
    }
    @media screen and (min-width: $ui-breakpoint-xxl-min) {
      display: grid;
      grid-template-rows: 100px;
      align-items: center;
    }

    .page-header__logo {
      @include flex-center;
      grid-column: 1/2;
      grid-row: 1/2;
      z-index: $ui-index-2;
      @media screen and (min-width: $ui-breakpoint-xxl-min) {
        &:hover > .page-header__logo-image +.page-header__logo-title  {
          color: $ui-white-color;
          transition: $ui-transition-default;
        }
      }

      .page-header__logo-image {
        width: 43px;
        height: 41px;
        background-image: url("../../images/icons/header_logo.png");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: $ui-index-3;
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          &:hover {
            background-position: 0 0;
          }
        }
      }

      .page-header__logo-title {
        display: none;
        padding-left: 17px;
        color: $ui-primary-color;
        @include ui-secondary-bold-font;
        font-size: 24px;
        line-height: 67%;
        text-decoration: none;
        z-index: $ui-index-3;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          display: block;
        }
      }
    }

    .page-header__menu-button {
      min-width: 119px;
      max-height: 37px;
      grid-column: 3/4;
      grid-row: 1/1;
      padding: 11px 10px;
      justify-self: center;
      @include ui-primary-button;
      transition: $ui-transition-default;
      z-index: $ui-index-3;
      @media screen and (min-width: $ui-breakpoint-md-min) {
        min-width: 145px;
        grid-column: 5/6;
        grid-row: 1/1;
        justify-self: flex-end;
      }
      @media screen and (min-width: $ui-breakpoint-xxl-min) {
        &:hover {
          background-color: $ui-white-color;
          border: 1px solid $ui-primary-color;
          transition: $ui-transition-default;
        }
      }

      .page-header__logo-link {
        @include ui-primary-bold-font;
        font-size: 15px;
        color: $ui-white-color;
        text-align: center;
        text-decoration: none;
        transition: $ui-transition-default;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          justify-self: flex-end;
        }
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          &:hover {
            color: $ui-primary-color;
            transition: $ui-transition-default;
          }
        }
      }
    }


    .page-header__menu-nav {
      grid-column: 1/6;
      grid-row: 1/1;
      position: relative;
      @media screen and (min-width: $ui-breakpoint-xxl-min) {
        grid-column: 2/6;
      }


      .page-header__menu-burger {
        width: 26px;
        height: 3px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $ui-white-color;
        border-radius: 5px;
        justify-self: flex-end;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          display: none;
        }
      }

      .burger-hide {
        display: none;
      }

      .page-header__menu-burger:before {
        content: "";
        width: 15px;
        height: 3px;
        position: absolute;
        top: -6px;
        right: 0;
        background-color: $ui-white-color;
        border-radius: 5px;
      }

      .page-header__menu-burger:after {
        content: "";
        width: 26px;
        height: 3px;
        position: absolute;
        top: 6px;
        right: 0;
        background-color: $ui-white-color;
        border-radius: 5px;
      }


      .page-header__exit-button {
        @include flex-center;
        justify-self: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, 50%);
        visibility: hidden;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          display: none;
        }
      }

      .active-button {
        visibility: visible;
      }

      .page-header__exit-button:before {
        content: "";
        background-color: $ui-white-color;
        width: 23px;
        height: 2px;
        position: absolute;
        top: 0;
        rotate: 45deg;
      }

      .page-header__exit-button:after {
        content: "";
        width: 23px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        rotate: -45deg;
        background-color: $ui-white-color;
      }

      .page-header__menu {
        @include flex-center;
        flex-direction: column;
        justify-self: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 50px);
        z-index: $ui-index-2;
        visibility: hidden;

        @media screen and (min-width: $ui-breakpoint-md-min) {
          width: 100%;
          position: relative;
          flex-direction: row;
          justify-content: center;
          visibility: visible;
        }
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          top: -50px;
          left: 50%;
          transform: translate(-50%, 50px);
        }
      }

      .active-menu {
        visibility: visible;
      }

      .page-header__menu-list {
        min-width: 293px;
        background-color: $ui-nav-background;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          display: flex;
          background-color: transparent;
        }

        .page-header__menu-item {
          position: relative;
          margin: 0 auto;
          padding: 28px 50px 24px 36px;
          border: 1px solid $ui-nav-background-border;
          @media screen and (min-width: $ui-breakpoint-md-min) {
            border: none;
            padding: 0 47px 18px 0;
            &:last-child {
              padding-right: 0;
            }
          }

          @media screen and (min-width: $ui-breakpoint-xxl-min) {
            padding: 0 48px 0 0;
          }

          .page-header__menu-link {
            @include ui-primary-normal-font;
            color: $ui-white-color;
            font-size: 26px;
            @media screen and (min-width: $ui-breakpoint-md-min) {
              color: $ui-primary-color;
              @include ui-primary-bold-font;
              font-size: 16px;
              line-height: 112%;
            }
            @media screen and (min-width: $ui-breakpoint-xxl-min) {
              &:hover {
                color: $ui-white-color;
                transition: $ui-transition-default;
              }
            }
          }


          .page-header__menu-link--active::before {
            content: "";
            width: 8px;
            height: 53px;
            background-color: $ui-primary-color;
            position: absolute;
            top: 18px;
            left: 3px;
            @media screen and (min-width: $ui-breakpoint-md-min) {
              content: none;
            }
          }

            .page-header__menu-link:focus {
              color: $ui-primary-color;
            }
          }
        }
      }
    }
  }







