// main-content__block

.main-content {
  .main-content__block {
    @include flex-column;

    .main-content__block-image {
      width: 100%;
      min-width: 1380px;
      position: relative;
      top: 100px;
      object-fit: cover;
      align-self: center;
    }

    .main-content__wrapper {
      width: 300px;
      position: absolute;
      top: 152px;
      @include flex-column;
      align-items: center;
      align-self: center;

      @media screen and (min-width: $ui-breakpoint-md-min) {
        width: 600px;
      }

      .main-content__title {
        @include ui-primary-bold-font;
        font-size: 48px;
        color: $ui-white-color;
        text-align: center;
      }

      .main-content__text {
        padding-top: 19px;
        @include ui-primary-normal-font;
        font-size: 18px;
        color: $ui-primary-color;
        text-align: center;
        line-height: 133%;
      }

      .main-content__text:nth-last-of-type(1) {
        padding-top: 14px;
        @include ui-primary-normal-font;
        font-size: 14px;
        color: $ui-secondary-color;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}