// reviews section
  .reviews {
    width: 100%;
    max-width: 1380px;
    justify-content: center;
    background-image: url("../../images/background/testmonials_bgnd.png");
    background-size: cover;
    padding-bottom: 22px;

    .reviews__wrapper {
      .reviews-title {
        padding-top: 57px;
        @include ui-primary-normal-font;
        font-size: 36px;
        color: $ui-white-color;
        text-align: center;
        line-height: 133%;
      }

      .reviews-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding-top: 53px;
        row-gap: 45px;
        @media screen and (min-width: $ui-breakpoint-md-min) {
          padding-top: 88px;
        }
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          padding-top: 81px;
        }

        .reviews-card {
          @include flex-column;
          max-width: 270px;

          @media screen and (min-width: $ui-breakpoint-md-min) {
            max-width: 312px;
          }
        }
        .reviews-card__image {
          align-self: center;
        }
        .reviews-card__text {
          padding-top: 29px;
          color: $ui-white-color;
          @include ui-secondary-italic-font;
          text-align: center;
          font-size: 16px;
          line-height: 150%;
        }
      }
      .reviews-description {
        position: relative;
        max-width: 251px;
        padding-top: 37px;
        margin: 0 auto 22px;
        color: $ui-description-text-color;
        text-align: center;
        @include ui-secondary-normal-font;
        font-size: 14px;
        line-height: 150%;

        @media screen and (min-width: $ui-breakpoint-md-min) {
          max-width: 704px;
        }
        @media screen and (min-width: $ui-breakpoint-md-min) {
          max-width: 887px;
        }
      }
      .reviews-description:after {
        content: "";
        width: 245px;
        height: 2px;
        display: block;
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $ui-decoration-line;

        @media screen and (min-width: $ui-breakpoint-md-min) {
          width: 555px;
        }
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          width: 780px;
        }
      }
    }
  }
