// revolutionary-editor download button

.revolutionary-editor {
  position: relative;
  top: 80px;

  .revolutionary-editor__download-button {
    min-width: 290px;
    height: 80px;
    @include flex-column;
    align-items: center;

    .revolutionary-editor__button {
      height: 45px;
      padding: 13px 29px;
      text-align: center;
      @include ui-primary-button;      
      margin-bottom: 12px;
      transition: $ui-transition-default;
      
      @media screen and (min-width: $ui-breakpoint-md-min) {
        min-width: 390px;
      }
      
      @media screen and (min-width: $ui-breakpoint-xxl-min) {
        &:hover {
          background-color: $ui-white-color;
          border: 2px solid $ui-primary-color;
          transition: $ui-transition-default;
        }
      }

      .revolutionary-editor__button-text {
        color: $ui-white-color;
        @include ui-primary-bold-font;
        text-align: center;
        font-size: 18px;
        line-height: 111%;
        text-decoration: none;
        transition: $ui-transition-default;
        
        @media screen and (min-width: $ui-breakpoint-md-min) {
          font-size: 21px;
          line-height: 109%;
        }
        
        @media screen and (min-width: $ui-breakpoint-xxl-min) {
          &:hover {
            color: $ui-primary-color;
            transition: $ui-transition-default;
          }
        }
      }

      .revolutionary-editor__download-period {
        align-self: center;
        background-color: $ui-white-color;
        color: $ui-secondary-color;
        text-align: center;
        @include ui-primary-normal-font;
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 28px;
      }
    }
  }
}
