//fonts

@mixin ui-primary-bold-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

@mixin ui-primary-normal-font {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

@mixin ui-secondary-bold-font {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin ui-secondary-normal-font {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin ui-secondary-italic-font {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
}

//elements

@mixin ui-primary-button {
  background-color: $ui-primary-color;
  border-radius: 40px;
  border: none;
}

@mixin ui-button-secondary-background {
  color: $ui-white-font;
  opacity: 0.15;
  border-radius: 40px;
}

@mixin ui-cards-background {
  background: $ui-cards-background;
  opacity: 0.84;
}


@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}